<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza_orders">Pizza Orders</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
